[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/rectpack2D"]
	path = 3rdparty/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D
